  
  <div id="loginForm">
  <form [formGroup]="userForm" >
    <mat-form-field>
      <input matInput placeholder="ID de usario" formControlName="userId"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="password"/>
      </mat-form-field>
    <br/>
    <div style="float: left; padding-right: 10px">
      <button mat-raised-button="" 
        class="mat-raised-button mat-button-base" type="button"
        (click)="goToRegistration()" style="width: 110px">
        <span class="mat-button-wrapper">Registro</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </div>
    
    <div style="float: left; ">
    <button mat-raised-button="" 
      class="mat-raised-button mat-button-base" type="button"
      (click)="login()" style="width: 110px"
      tabindex="0">
      <span class="mat-button-wrapper">Iniciar sesión</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    </div>
  </form>
</div>

<ngx-spinner></ngx-spinner>
  