<!--
  mediaId: string;
   userId: string;
   notas: string;
   transcription: string;
   fileName: string;
-->
<div *ngIf="selectedMedia" id="mediaContent">
  <div id="mediaHeader">
    Selected Media File: {{selectedMedia.fileName}}
  </div>
  <div id="mediaPlayer">
    Audio:
      <vg-player style="height: 50px;">
          <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
      
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      
              <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
      
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              
            </vg-controls>    
          <audio #media [vgMedia]="media" id="myAudio" preload="auto" src="{{mp3Link}}">
          </audio>
      </vg-player>
  </div>
  <br/>
  <ul class="menu">
    <li *ngFor="let tabName of tabNameList; index as i" class="menuli">
      <button (click)="updateTranscript(i)" style="width: 180px" >
        {{tabName}}
      </button>
    </li>
  </ul>
  <br/>
  Transcripción
  <div id="transcript">
    <ul>
      <li *ngFor="let aTrans of trans">
        {{aTrans}}
      </li>
    </ul>
  </div>
  <div>
    <ul class="menu">
      <li class="menuli">
        <a href="{{mp3Link}}">Descargar</a>
      </li>
      <li class="menuli">
        <button (click)="deleteMedia()" style="width: 60px">
              Eliminar
        </button>
      </li>
      <li class="menuli">
        <button (click)="goToUploadFile()" style="width: 60px" >
              Regreso
        </button>
      </li>
      <li class="menuli">
        <button (click)="enviarGoogle()" style="width: 60px" >
              Enviar a Google
        </button>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let lang of languages" [value]="lang.value">
            {{lang.viewValue}}
          </mat-option>
        </mat-select>
      </li>
    </ul>
  </div>
</div>
